h1{
    text-align: center;
}
.card-items{
    // width: 100vw;
    // height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    cursor: pointer;
}


.card{    
    .card-main{
        border-radius: 1rem;
        width: 200px;
        height: 350px;
        background-color: darken(aqua,40);
        padding: 1rem;

        .card-img{
            width: 200px;
            height: 250px;
            overflow: hidden;
            // border-bottom: 2px solid black;
            object-fit: fill;
            display: flex;
            justify-content: center;
            border-radius: 1rem;
            
            .img{
                border-radius: 1rem;
                width: 100%;
                height: 100%;

            }
        }
        .text{
            display: flex;
            justify-content: center;
            flex-direction: column;

            .card-title{
                font-size: 2rem;
                color: black;
                display: flex;
                justify-content: center;
                // margin: .3rem;
                
                
                
            }
            .card-info{
                @extend .card-title;
                font-size: 1rem;
                padding: .5rem;
            }
            .card-link{
                
                a{
                    @extend .card-info;
                    text-decoration: none;
                    &:hover{
                        color: green
                    }
                }
            }
        }
    }
}